/*David Roost Creative Website - Author: David Roost*/

    /*This website was designed to be responsive. Which means it is designed multiple
    ways to respond to the size of the screen it's being viewed on. I have chosen to
    use three breakpoints. One for desktop screens, one for tablets, and one for mobile devices.*/

/******* font guide *******/
    /*font-family: 'Oswald', sans-serif;
    font-family: 'Muli', sans-serif; (200,400,900)
    font-family: 'Lobster', cursive;
    font-family: 'Questrial', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Rokkitt', serif; (400,600,800)*/

/******* color guide *******/
    /*baby-blue:  rgb (155, 218, 252);
    brown:      rgb (133, 96, 70);
    red:        rgb (178, 0, 0);
    red-dark:   rgb (133, 7, 7);
    off-white:  rgb(255, 241, 200);
    grey:       rgb(128, 128, 128);*/

/******* UNIVERSAL STYLING *******/

    /*this section is the general over-arching styling for the content that
    applies across all versions of the page regardless of the media responsiveness.*/
    #max-width-container {
      }

    #container {
      max-width: 1250px;
      margin-left: auto;
      margin-right: auto;
      }

    hr.red-line{
      border-top: 4px solid rgb(178, 0, 0);
      width: 20%;
      }
    hr.blue-line{
      border-top: 4px solid rgb(155, 218, 252);
      width: 20%;
      }
    .separator-container {
      text-align: center;
      position: relative;
      }
    body {
      background-color:rgb(255, 241,200);
      /*background-color: rgb(223, 223, 223);*/
      }
    section {
      /*border: 1px solid rgb(178,0,0);*/
      }
    h1 {
      text-align: center;
      font-family: 'Muli', sans-serif;
      font-weight: 900;
      color: rgb(178,0,0);
      font-size: 24px;
      }

    /*** NAVIGATION SECTION ***/

    .nav-logo {
      float: left;
      border-radius: 60%;
      margin-left: 20px;
      margin-top: 5px;
      -webkit-transition: -webkit-transform .5s ease-in-out;
      transition: transform .5s ease-in-out;
      }
    .nav-logo:hover {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
      }
      /*this makes the little logo at the top of the screen spin when you hover over it.*/
    .nav-section {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      background-color: transparent;
      border-bottom: 2px solid rgb(178,0,0);
      }
      /*header change color on scroll effect below*/
    header{
      overflow: hidden;
      -webkit-transition: background-color 700ms linear;
      -moz-transition: background-color 700ms linear;
      -o-transition: background-color 700ms linear;
      -ms-transition: background-color 700ms linear;
      transition: background-color 700ms linear;
      }
    header.scrolled {
      background-color: white;
      }
    .wrapper{
      position: relative;
      }
    .nav-logo {
      float: left;
      }
    nav {
      float: right;
      height: 40px;
      }
    ul li {
      display: inline-block;
      margin-top: 10px;
      }
    ul li a{
      margin: 0 10px;
      padding: 5px;
      display: block;
      color: black;
      text-decoration: none;
      font-weight: bold;
      font-family: 'Oswald', sans-serif;
      font-size:14px;
      /*text-shadow: 0 0 6px rgb(0, 0, 0);*/
      }
    .david-roost-header {
      float: left;
      padding-left: 10px;
      padding-top: 11px;
      color: black;
      text-decoration: none;
      font-family: 'Oswald', sans-serif;
      font-size:18px;
      /*text-shadow: 0 0 6px rgb(0, 0, 0);*/
      }
    .david-roost-header:hover {
      color: rgb(178, 0, 0);
      text-shadow: none;
      }
    ul li a:hover{
      color: rgb(178, 0, 0);
      text-shadow: none;
      }
    nav ul li:first-child{
      display:none;
      position: absolute;
      top: 0;
      right: 0;
      }


    /*** GREETING SECTION ***/

      .greeting-section {
      background-image: url("../content/greeting-background-05.png");
      width: 100%;
      min-height: auto;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
      background-position: center;
      text-align: center;
      }


    .greeting-section {
      display: block;
      margin-top: 42px;
      height: 700px;
      }

    .greeting-section h1 {
      padding-top: 125px;
      font-family: 'Pacifico', cursive;
      font-size: 40px;
    }
    /*** FEWD SECTION ***/

    .fewd-section {
      display: block;
      padding-top: 60px;
      height: 400px;
      background-color: rgb(155, 218, 252);
      /*background-color: rgb(128, 128, 128);*/
      }

    .fewd-section p {
      color: rgb(178, 0, 0);
      text-align: center;
      font-family: 'Muli', sans-serif;
      font-weight: 400;
      }










    /*** PORTFOLIO SECTION ***/
      .portfolio-section {
        padding-top:60px;
        background-color: rgb(255, 241, 200);
        }
      /*.portfolio-section h1 {
        text-align: center;
        font-family: 'Muli', sans-serif;
        font-weight: 900;
        color: rgb(155, 218, 252);
        font-size: 24px;
        }*/
      .portfolio-category h2 {
        font-family: 'Oswald', sans-serif;
        text-align: center;
        color: rgb(178, 0, 0);
        font-size: 24px;
        }
      .portfolio-category p {
        color: black;
        font-family: 'Muli', sans-serif;
        font-weight: 400;
        font-size: 13px;
        }

      .portfolio-box{
        height:250px;
        width:31%;
        margin:.75%;
        float:left;
        border: 1.5px solid rgba(84, 84, 84, 0.44);
        border-radius: 10px;
        min-height: auto;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        background-position: center;
        }
      .portfolio-category .portfolio-box:first-of-type {
        margin-left: 1.5%;
        }

      .portfolio-category {
        clear:both;
        text-align: center;
        }
      .portfolio-category:last-of-type {
        margin-bottom: 10px;
        }

      #sea-b {
        background-image: url('../content/sea-b-image-01.png');
        }
      #sf-city {
        background-image: url('../content/sf-city.png');
        }
      #ali {
        background-image: url('../content/ali.jpg');
        }
      #tori {
        background-image: url('../content/tori_01.png');
        }
      #sd {
        background-image: url('../content/sd_01.png');
        }
      #uc {
        background-image: url('../content/uc_01.png');
        }
      #coronado {
        background-image: url('../content/coronado_01.jpg');
        }
      #erica {
        background-image: url('../content/erica_01.jpg');
        }
      #fs {
        background-image: url('../content/fs_helmet_small.png');
        }
      #zonazoo {
        background-image: url('../content/zona-zoo-01.png');
        }
      #dog-pound {
        background-image: url('../content/dog-pound-01.png');
        }
      #stadio {
        background-image: url('../content/stadio-01.png');
        }

      #islington {
        background-image: url('../content/islington_00.jpg');
        }
      #elm {
        background-image: url('../content/elm.jpg');
        }
      #sycamore {
        background-image: url('../content/sycamore_01.jpg');
        }
/*fade in effect*/
      .portfolio-box {
        visibility: hidden;
        }

      .fadeIn {
        -webkit-animation: animat_show 0.8s;
        animation: animat_show 0.8s;
        visibility: visible !important;
        }

      @-webkit-keyframes animat_show{
        0%{opacity:0}
        100%{opacity:1}
        }


/*Hover Effect On Portfolio Images*/
      .portfolio-box:hover .overlay {
        opacity: 1;
        }
      .portfolio-box:hover .text {
        opacity: 1;
        }
      .text {
        color: white;
        font-size: 20px;
        text-align: center;
        vertical-align: middle;
        padding-top: 100px;
        font-family: 'Oswald', sans-serif;
        }
      .text span {
        color: white;
        font-family: 'Muli', sans-serif;
        font-weight: 400;
        font-size: 13px;
        }

      .text  hr {
        border-top: 2px solid white;
        width: 60%;
        }
      p.click-for-more {
        font-family: 'Muli', sans-serif;
        font-weight: 900;
        color: rgb(155, 218, 252);
        text-align: center;
        font-size: 8px;
        }

      .overlay {
        height: 100%;
        width: 100%;
        opacity: 0;
        border-radius: 10px;
        transition: .5s ease;
        background-color: rgba(0, 0, 0, 0.75);
        /*background-color: rgb(133, 7, 7);*/

        }



/*********************** POP-UP WINDOW FOR PORTFOLIO SECTION ***********************/

      .popup {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        /*margin-top: 52px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        margin-left: auto;
        margin-right: auto;
        overflow: auto; /* Enable scroll if needed */
        background-color: white; /* Fallback color */
        border: 0px;
        }
      /* The Close Button */
      .close {
        color: #aaaaaa;
        float: right;
        text-align: right;
        font-size: 40px;
        font-weight: bold;
        cursor: pointer;
        margin-right: 40px;
        margin-top: 20px;
        margin-bottom: 10px;
        }
      /* The Modal (background) */
      .popup-content {
        clear:both;
        border: 0px;
        width: 85%;
        height: 90%;
        margin-left: auto;
        margin-right: auto;
        }

      .popup-left {
        float: right;
        width: calc(69% - 10px);
        margin-left: auto;
        margin-right: auto;
        border: 0px;
        text-align: left;
        }
      .popup-right {
        float: right;
        width: calc(29% - 1px); /*this is how you split the size of the content without having to add and subtract pixels*/
        margin-left: 10px;
        margin-right: 5px;
        margin-bottom: 10px;
        margin-top: 10px;
        border: 0px;
        }
      .project-image {
        padding-bottom: 25px;
        margin-left: auto;
        margin-right: auto;
        }
      .project-image img {
        max-width: 100%;
        max-height: 500px;
        margin-top: 10px;
        margin-bottom: 10px;
        border: 1px solid black;
        }
     .popup-content h2 {
        font-family: 'Muli', sans-serif;
        font-weight: 900;
        font-size: 20px;
        }
      .popup-content h3 {
        font-family: 'Oswald', sans-serif;
        font-size: 14px;
        }
      .popup-content p {
        font-family: 'Muli', sans-serif;
        font-weight: 400;
        font-size: 13px;
        }

    /*** ABOUT ME SECTION ***/
      .about-section {
        clear: both;
        display: block;
        height: 500px;
        padding-top:60px;
        background-color: white;
        }

    /*** CONTACT ME SECTION ***/
      .contact-section {
        height: 500px;
        padding-top:60px;
        background-color: rgb(133, 96, 70);
        }
      .close-bottom {
        clear: both;
        display: block;
        font-size: 12px;
        margin-top:20px;
        text-align: center;
        color: #aaaaaa;
        cursor: pointer;
        font-family: 'Oswald', sans-serif;
        font-size: 14px;
        }

      .contact-section h1 {
        color: rgb(155, 218, 252);
        }

    /*** FOOTER SECTION ***/
      .footer-logo {
        margin-top: 5px;
        margin-bottom: 5px;
        display: block;
        clear: both;
        margin-left: auto;
        margin-right: auto;
        -webkit-transition: -webkit-transform .5s ease-in-out;
        transition: transform .5s ease-in-out;
        }
      .footer-logo:hover {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        }

      footer {
        background-color: white;
        border-top: 2px solid rgb(178,0,0);
        }
      footer p {
        font-family: 'Muli', sans-serif;
        font-weight: 900;
        color: rgb(178,0,0);
        text-align: center;
        font-size: 10px;
        }
      p .note-on-coding {
        color: black;
        font-family: 'Muli', sans-serif;
        font-weight: 400;
        font-size: 10px;

        }


/******* TABLET VERSION *******/

    /* this is the style section for all screens (likely tablets) where the page
    width is 768 pixles or less*/
 @media screen and (max-width:768px){

    /*** NAVIGATION SECTION ***/

    nav {
      height: 0px;
      transition: 1s height;
      float: none;
      text-align:center;
      margin-bottom: -8px;
      }
    .open{
      height: 140px;
      }
    .wrapper{
      margin-top: -8px;
      }
    .line{
      width: 25px;
      height: 3px;
      /*background: white;*/
      background: rgb(227, 24, 55);
      margin-top: 3px;
      }
    nav ul li:first-child {
      padding-top: 5px;
      margin-top: 10px;
      margin-right: 0px;
      display:block;
      }
    ul li {
      display: block;
      padding-right:20px;
      }
    /*ul li a:hover{
      color: rgb(227, 24, 55);
      text-shadow: none;
      }*/
    .david-roost-header {
      padding-top: 20px;
      }
    .nav-logo {
      float: none;
      margin-top: 15px;
      }


    /*** PORTFOLIO SECTION ***/

    .portfolio-box {
      height:200px;
      display: block;
      width: 96.5%;
      margin-left: auto;
      margin-right: auto;
      border: 1px solid black;
      }
    .portfolio-box:nth-of-type(2) {
      margin-left: 1.5%;
      }
    .portfolio-box:nth-of-type(3) {
      margin-left: 1.5%;
      }
    .popup-left {
      display: block;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      border: 0px;
      }
    .popup-right {
      display: block;
      width: 100%;
      margin-left: 5px;
      margin-right: 5px;
      margin-bottom: 10px;
      border: 0px;
      text-align: center;
      }



/******* MOBILE VERSION *******/

    /* this is the style section for all screens (likely mobile devices) where the page
    width is 480 pixels or less.*/

    /*@media screen and (max-width:480px){

    }*/
