/*David Roost Creative Website - Author: David Roost*/

    /*This website was designed to be responsive. Which means it is designed multiple
    ways to respond to the size of the screen it's being viewed on. I have chosen to
    use three breakpoints. One for desktop screens, one for tablets, and one for mobile devices.*/

/******* UNIVERSAL STYLING *******/

    /*this section is the general over-arching styling for the content that
    applies across all versions of the page regardless of the media responsiveness.*/
    #container {
      margin:0 auto;
      /*width: 960px;*/
      }
    body {
      background-color: rgb(223, 223, 223);
      }
    /*this makes the little logo at the top of the screen spin when you hover over it.*/
    .nav-logo {
      float: left;
      border-radius: 60%;
      margin-left: 15px;
      margin-top: 15px;
      -webkit-transition: -webkit-transform .5s ease-in-out;
      transition: transform .5s ease-in-out;
      }
    .nav-logo:hover {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
      }

    section {
      border: 1px solid black;
      }
    h1 {
      text-align: center;
      }
    .nav-section {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      background-color: white;
      /*border-bottom: 2px solid rgb(227, 24, 55);*/
      border-bottom: 2px solid rgb(84, 84, 84);

      }
    header{
      overflow: hidden;
      }
    .wrapper{
      position: relative;
      }
    .nav-logo {
      float: left;
      }
    nav {
      float: right;
      height: 50px;
      }
    ul li {
      display: inline-block;
      }
    ul li a{
      margin: 0 10px;
      background: rgba(255,255,255,0.5);
      padding: 5px;
      display: block;
      color: rgb(84, 84, 84);
      text-decoration: none;
      }
    nav ul li:first-child{
      display:none;
      position: absolute;
      top: 0;
      right: 0;
      }
    .line{
      width: 25px;
      height: 3px;
      background: black;
      margin-top: 3px;
      }
      .greeting-section {
      background-image: url('../content/background-sitka.png');
      width: 100%;
      min-height: auto;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
      background-position: center;
      text-align: center;

      }

/******* DESTOP VERSION *******/

    /*the desktop version of this website will be shown
    anytime the screen has a width greater than 769 pixels*/


    /*** NAVIGATION SECTION ***/
      /*ul {
        float: right;
        margin-right: 50px;
      }
      ul li {
        display: inline-block;
        vertical-align:middle;
        }
      ul li:first-child {
        display:none;
        position: absolute;
        top: 0;
        right: 0;
        }
      ul li a{
        height:40px;
        margin-left:10px;
        margin-right: 10px;
        padding: 10px;
        }
      .nav-section {
        float:right;
        overflow: hidden;

        height: 60px;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        background-color: white;
        border-bottom: 2px solid rgb(227, 24, 55);
        }
      .nav-section a {
        text-decoration: none;
        }
      .nav-section li {
        padding-top: 6px;
        }
      .line{
        width: 2em;
        height: 3px;
        background: black;
        margin-top: .25em;
        }*/

    /*** GREETING SECTION ***/
      .greeting-section {
        display: block;
        margin-top: 70px;
        height: 500px;
        }

    /*** PORTFOLIO SECTION ***/
      .portfolio-section {

        }
      .portfolio-box{
        height:250px;
        width:31%;
        margin:.75%;
        float:left;
        border: 1.5px solid rgba(84, 84, 84, 0.44);
        border-radius: 10px;
        min-height: auto;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        background-position: center;
        }
      .portfolio-category .portfolio-box:first-of-type {
        margin-left: 1.5%;
      }

      .portfolio-category {
        clear:both;
        text-align: center;
      }
      .portfolio-category:last-of-type {
        margin-bottom: 10px;
      }

      #sea-b {
        background-image: url('../content/sea-b-image-01.png');

      }
      #sf-city {
        background-image: url('../content/sf-city.png');
      }
      #ali {
        background-image: url('../content/ali.jpg');
      }

/*Hover Effect On Portfolio Images*/
      .portfolio-box:hover .overlay {
        opacity: 1;
        }
      .portfolio-box:hover .text {
        opacity: 1;
        }
      .text {
        color: white;
        font-size: 20px;
        text-align: center;
        vertical-align: middle;
        padding-top: 120px;
        }
      .overlay {
        height: 100%;
        width: 100%;
        opacity: 0;
        border-radius: 10px;
        transition: .5s ease;
        background-color: rgba(0, 0, 0, 0.75);
        }

/*********************** POP-UP WINDOW FOR PORTFOLIO SECTION ***********************/

      /* The Close Button */
      .close {
        color: #aaaaaa;
        float: right;
        text-align: right;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
        margin-right: 20px;
        margin-top: 20px;
        margin-bottom: 10px;
        }
      /* The Modal (background) */
      .popup-content {
        clear:both;
        border: 0px;
        width: 85%;
        height: 90%;
        margin-left: auto;
        margin-right: auto;
        }
      .popup {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        /*margin-top: 52px; /* Location of the box */*/
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        margin-left: auto;
        margin-right: auto;
        overflow: auto; /* Enable scroll if needed */
        background-color: white; /* Fallback color */
        border: 0px;
        }
      .popup-left {
        float: left;
        width: calc(69% - 10px);
        margin-left: auto;
        margin-right: auto;
        border: 0px;
        text-align: left;
        }
      .popup-right {
        float: left;
        width: calc(29% - 1px); /*this is how you split the size of the content without having to add and subtract pixels*/
        margin-left: 10px;
        margin-right: 5px;
        margin-bottom: 10px;
        margin-top: -15px;
        border: 0px;
        }
      .project-image {
        padding-bottom: 25px;
        margin-left: auto;
        margin-right: auto;
        }
      .project-image img {
        max-width: 100%;
        max-height: 500px;
        margin-top: 10px;
        margin-bottom: 10px;
        border: 1px solid black;
        }

    /*** ABOUT ME SECTION ***/
      .about-section {
        clear: both;
        display: block;
        height: 500px;

        }

    /*** CONTACT ME SECTION ***/
      .contact-section {
        height: 500px;

        }

    /*** FOOTER SECTION ***/
      footer {
        height: 500px;

        }


  .close-bottom {
    clear: both;
    display: block;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #aaaaaa;
    cursor: pointer;
    }
/******* TABLET VERSION *******/

    /* this is the style section for all screens (likely tablets) where the page
    width is 768 pixles or less*/
 @media screen and (max-width:768px){
  nav {
    height: 0px;
    transition: 1s height;
    float: none;
    text-align:center;
    }
  .open{
    height: 100px
    }
  nav ul li:first-child {
    margin-top: 10px;
    margin-right: 10px;
    display:block;
    }
  ul li {
    display: block;
    }
  .nav-logo {
    float: none;
    }
  ul li{
    padding[';[]']-top: -25px;
    }
  .portfolio-box {
    height:200px;
    display: block;
    width: 96.5%;

    /*margin:.75%;*/
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    }
  .portfolio-box:nth-of-type(2) {
    margin-left: 1.5%;
    }
  .portfolio-box:nth-of-type(3) {
    margin-left: 1.5%;
    }
.popup-left {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border: 0px;
  }
.popup-right {
display: block;
  width: 100%;
  margin-left: 25px;
  margin-right: 5px;
  margin-bottom: 10px;
  border: 0px;
    text-align: left;

  }


  }
/******* MOBILE VERSION *******/

    /* this is the style section for all screens (likely mobile devices) where the page
    width is 480 pixels or less.*/

    /*@media screen and (max-width:480px){

    }*/
